.social-btn {
    width: 4vw;  /* Button size */
    height: 4vw;
    background-color: #212529; /* Dark gray (Bootstrap's dark color) */
    color: #FFC107; /* Icon color */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.social-btn:hover {
    background-color: #FFC107 !important; /* Bootstrap warning color */
    color: black !important; /* Changes icon color */
}

#loading-screen {
    position: fixed;
    z-index: 9999;
    background-color: black;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  